<div class="col-sm-4 activity">
  <div class="activity-image" style="background: url( <%= animal.image_url %> ) 50% 50% no-repeat;background-size: cover;"></div>
  <h3>Name: <%= animal.name %></h3>
  <h6>Environment: <%= animal.environment %> </h6>
</div>
