<div class="col-sm-6">
  <h1>
    Hi! Welcome to Betterpets.
  </h1>
  <h1>This is a Rails app, talking to a separate Rails-API.*</h1>
  <h3>
    Click the links above to see all the animals or sort animals by environment
  </h3>
  <p>
    *(not a typical use case, I know, but I wanted to go end to end)
  </p>
</div>
